@include media-breakpoint-up(lg) {
    main{
        margin-bottom: 500px
    }
    footer{
        position: fixed;
    }
    .curve-right{
        transform: translateY(-50px);
    }
}
@include media-breakpoint-down(lg) {
    .video-section {
        height: 25vh;
        h1{
            font-size: 18px!important;
        }
    }
    .no-border-first.no-border-last{
        border: none!important;
    }
    .no-translate{
        transform: none!important;
    }
    .swiper-custom .swiper-button-prev{
        bottom: -80px!important;
        top: unset!important;
        right: unset!important;
        left: 30%!important;
    }
    .swiper-custom .swiper-button-next{
        bottom: -80px!important;;
        top: unset!important;;
        left: unset!important;;
        right: 30%!important;
    }
    .swiper4 .swiper-pagination{
        float: none!important;
        bottom: 60px!important;
    }
    //blog
    .top-blog{
        overflow-x: scroll;
        white-space: nowrap;
    }
}


@include media-breakpoint-down(xl) {
    #navbarNav .nav-link {
        padding: 1rem .5rem !important;
    }
}
@include media-breakpoint-up(sm){
    .tiles2{
        bottom: -140px;
        left: 0;
    }
}
@include media-breakpoint-down(sm) {
    .fs-1 {
        font-size: calc(1.325rem + 1.4vw) !important;
    }

    .fs-2 {
        font-size: calc(1.275rem + 0.8vw) !important;
    }

    .fs-3 {
        font-size: calc(1.25rem + 0.5vw) !important;
    }

    .fs-4 {
        font-size: calc(1.225rem + 0.2vw) !important;
    }

    .fs-5 {
        font-size: 0.9rem !important;
    }

    .fs-6, p, span {
        font-size: 0.75rem !important;
        line-height: 1.7;
    }

    small, .small {
        font-size: 0.875rem !important;
    }
    #field_1_7 {
        grid-column: span 12 !important;
    }
    //breadcrumb
    .breadcrumb{
        flex-wrap: nowrap!important;
        overflow-x: scroll!important;
        white-space: nowrap!important;
    }
    .tiles.translate-middle-y{
        transform: translateY(-120%)!important;
    }
    .tiles2{
        bottom: -170px;
        left: -60px;
    }
    .swiper2{
        padding-bottom: 40px!important;
    }
}


@include media-breakpoint-up(md) {

}

@include media-breakpoint-down(md) {
    .small-md-down {
        font-size: $small-font-size !important;
    }
}
